<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teacher Records</title>
    <link rel="stylesheet" href="./css/tablestyle.css">
</head>

<body>
    <h2>All Record of Teacher</h2>

    <div id="successMessage"></div>
<br>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Subject</th>
               
            </tr>
        </thead>
        <tbody id="tableBody"></tbody>
    </table>

    <div class="buttons">
        <a href="/edit" id="edit">Edit</a>
        <a href="/del" id="del">Delete</a>
    </div>
</div>

    <script>
        async function fetchTeacher() {
            const response = await fetch('/api/allTeacher', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            if (response.ok) {
                const responsejson = await response.json();
                const data =responsejson.data;
                console.log(data);
                document.getElementById('successMessage').textContent = 'Data fetched sucessfully';

                const tableBody = document.getElementById('tableBody');
                tableBody.innerHTML = '';

                data.forEach(teacher => {
                    const newRow = document.createElement('tr');
                    newRow.innerHTML = `
                        <td>${teacher.id}</td>
                        <td>${teacher.name}</td>
                        <td>${teacher.subject}</td>
                        
                    `;
                    tableBody.appendChild(newRow);
                });
            } else {
                document.getElementById('successMessage').textContent = 'Fetching error!';
            }
        }

        // Call the fetchTeacher function when the page loads
        fetchTeacher();
    </script>
</body>

</html>